body{



background-color: dimgrey;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
   
    
}

h1{


    color: burlywood;


}

.pclass1{


    color: cadetblue;


}