body{

    background: rgb(1,211,245);
    background: linear-gradient(90deg, rgba(1,211,245,1) 6%, rgba(1,186,247,1) 25%, rgba(0,57,255,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(144,246,247);
 color: darkmagenta;
}